.burger {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  width: 40px;
  height: 40px;
}

.line {
  height: 4px;
  width: 30px;
  background-color: gold;
  margin: 5px 0;
  transition: all 0.4s ease-in-out;
}

.burger.toggle .line:nth-child(1) {
  transform: rotate(46deg) translate(5px, 5px);
}
.burger.toggle .line:nth-child(2) {
  opacity: 0;
}
.burger.toggle .line:nth-child(3) {
  transform: rotate(-46deg) translate(13px, -15px);
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(128, 0, 0, 0.95);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
  padding-top: 80px;
  max-height: 100%;
  overflow: auto
}

.nav-menu.active {
  transform: translateX(0);
}

.nav-menu .nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu .submenu {
  list-style: none;
  padding-left: 20px;
}

.submenu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#MobileHeadNav{
  display: none;
}

/* Sa Invisible Nav Ini */
@media (max-width: 768px) {
  .nav-menu {
    width: 100%;
  }
}


@media screen and (max-width: 1210px) {
 .middle .right .top .instructors-cont .instructor .info h3 {
    font-size: 10px;
 }

  .middle .right .top .instructors-cont .instructor .info p {
    font-size: 12px;
 }
  
}

@media screen and (max-width: 1035px) {
 .middle .right .top .instructors-cont .instructor .info h3 {
    font-size: 12px;
 }
 .middle .right .top .instructors-cont .instructor .info p {
    font-size: 9px;
 }
}

@media screen and (max-width: 1000px) {
  section {
    background: var(--color-bg-white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    padding: 1.5rem;
    position: absolute;
    width: 100%;
    right: 0px;
    overflow: auto;
    height: 100%;
    top: 5%;
  }
  section .header h1{
    font-size: 15px;
  }
  .dashboard{
    flex-wrap: wrap;
  }
  .dashboard .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .dashboard .cards a{
    font-size: 5px;
  }
  .dashboard .cards .card h1{
    font-size: 12px;
  }
  .dashboard .cards .card h2{
    font-size: 6px;
  }
  .img-cont{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .dashboard .middle {
    display: block;
    width: 100%;
    overflow: auto;
  }
  .dashboard .middle .right{
    margin-top: 17px;
   box-shadow: inset 2px -1px 2px black, inset -1px -3px 5px black;
  }
  .officers-cont{
    width: 100%;
    flex-wrap: wrap;
  }
  .dashboard .middle .left .top-cards .officers-cont .officer-card {
    width: 100%;
    box-shadow: inset 2px -1px 2px black, inset -1px -3px 5px black;
  }

  .dashboard .middle .left .top-cards .officers-cont .officer-card .img-cont {
    height: 50px;
    width: 55px;
    border-radius: 10%;
  }

  .course-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .dashboard .middle .left .bot-cards .course-card p{
    font-size: 7px;
  }

  .dashboard .middle .left .bot-cards .course-card p{
    font-size: 8px;
  }
  aside {
    display: flex;
    background: var(--color-primary);
    color: var(--color-white);
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    height: 8%;
  }

   aside .header h1{
    font-size: 15px;
    position: relative;
    left: 27px;
  }
  aside .header p{
    font-size: 12px;
  }
  #HeadNav{
    display: none;
  }
  #MobileHeadNav{
    display: flex;
    position: relative;
    right: -859px;
    width: 20%;
    bottom: 62px;
  }
}

@media screen and (max-width: 992px) {
  aside{
    height: 6%;
  }
  
}

@media screen and (max-width: 880px) {
  #MobileHeadNav{
     right: -699px;
  }
  
}

@media screen and (max-width: 799px) {
  #MobileHeadNav{
    right: -670px;
    bottom: 64px;
  }
}

@media screen and (max-width: 735px) {
  #MobileHeadNav{
    right: -559px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  aside .header{
    left: 28px;
    position: relative;
  }
  
}

@media screen and (max-width: 600px) {
  #MobileHeadNav{
    right: -381px;
  }
  
}


@media screen and (max-width: 480px) {
  .burger{
    top: 23px;
  }
  aside {
    height: 7.5%;
  }
  #MobileHeadNav{
    right: -65px;
    bottom: 5px;
  }

   aside .header h1{
    font-size: 15px;
    position: relative;
    left: -11px;
    bottom: 6px;
  }
  aside .header p{
    font-size: 10px;
    bottom: 6px;
    position: relative;
    left: -33px;
  }
  section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .middle .right .top .instructors-cont .instructor .info h3 {
        font-size: 10px;
  }

}

@media screen and (max-width: 430px) {
  #MobileHeadNav{
    left: 80px;
  }
}

@media screen and (max-width: 380px) {
  #MobileHeadNav{
    left: 70px;
  }
}

@media screen and (max-height: 640px) and (max-width:740px) {
  aside{
    height: 10%;
  }

  aside .header h1 {
    font-size: 14px;
    position: relative;
    left: 55px;
  }

  #MobileHeadNav {
        right: -170px;
        bottom: 10px;
    }
  
}

@media screen and (max-height: 700px) and (max-width:430px) {
  #MobileHeadNav {
       bottom: 66px;
        left: 254px;
    }

  section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
}

@media screen and (max-height: 640px) and (max-width:630px) {
  aside{
    height: 7.5%;
    position: fixed;
  }

  aside .header h1 {
    font-size: 8px;
    left: -10px;
  }

  aside .header p {
    font-size: 7px;
  }

  #MobileHeadNav {
        right: -170px;
        bottom: 8px;
    }
  .burger.toggle .line:nth-child(3) {
    transform: rotate(-46deg) translate(13px, -4px);
  }
  .burger.toggle .line:nth-child(1) {
    transform: rotate(46deg) translate(15px, 5px);
  }
  .burger{
    top: -25px;
    left: 2px;
  }
}

@media screen and (max-height: 640px) and (max-width:330px) {
  aside{
    height: 8%;
  }

  aside .header h1 {
    font-size: 8px;
    left: -20px;
  }

  aside .header p {
    font-size: 5px;
    left: -31px;
  }

  #MobileHeadNav {
       bottom: 16px;
        left: 59px;
    }

  #WelOs{
    font-size: 9px;
    position: relative;
    right: 17px;
    bottom: 25px;
  }
  .right-sec {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      width: 50px;
      right: 202px;
  }
  section .left{
    position: relative;
    bottom: 3px;
  }
  section .header button{
    position: relative;
    left: 26px;
    top: 10px;
  }
  section .header button .right h4{
    font-size: 10px;
  }
  .left .img-cont{
    left: 16px;
    position: relative;
  }
  .dashboard .middle h1 {
    font-size: 0.8rem;
  }
  .dashboard .middle .left .top-cards .officers-cont .officer-card p{
    font-size: 10px;
  }
  .dashboard .middle .left .top-cards .officers-cont .officer-card h3{
    font-size: 8px;
  }
}


@media screen and (max-height: 500px) {
  aside {
    height: 10%;
  }
  #MobileHeadNav{
    bottom:  17px;
  }

  .line{
    font-size: 10px;
  }

   aside .header h1{
    font-size: 10px;
    position: relative;
    left: -8px;
    bottom: 5px;
  }
  aside .header p{
    font-size: 6px;
    bottom: 5px;
    position: relative;
    left: -19px;
  }
  
}

@media screen and (max-height: 365px) and (max-width:980px) {
      aside {
        height: 12%;
    }
    .burger{
      top: -19px;
        left: -150px;
    }
    aside .header h1{
      left: 200px;
    }
    aside .header p{
      left: 190px;
    }
}

@media screen and (max-height: 377px) and (max-width:668px) {
      aside {
        height: 13%;
    }
    .burger{
      top: -18px;
      left: 380px;
    }
}

@media screen and (max-height: 365px) and (max-width:680px) {
      aside {
        height: 12%;
    }
    .burger{
      top: -19px;
        left: 380px;
    }
}

@media screen and (max-height: 361px) and (max-width:625px) {
     aside {
        height: 12%;
        width: 100%;
        position: fixed;
    }
    .burger{
      top: -19px;
        left: -175px;
    }
    aside .header h1{
      left: 440px;
    }
    aside .header p{
      left: 430px;
    }
}

@media screen and (max-height: 280px) and (max-width:680px) {
  aside{
    height: 16%;
    position: fixed;
  }
  aside .header h1{
    transform: translate(249px, -3px);
  }
   aside .header p{
    transform: translate(250px, -3px);
  }
}

@media screen and (max-height: 280px) and (max-width:725px) {
  aside{
    height: 16%;
    position: fixed;
  }
  aside .header h1{
    transform: translate(-188px, -3px);
  }
   aside .header p{
    transform: translate(-190px, -3px);
  }

  .burger{
    left: 425px;
  }
  
}